[Desktop Entry]
Type=Application
Version=1.5
Name=Retorrent
Comment=A BitTorrent client built in Rust
Categories=Network;FileTransfer;P2P;
Keywords=torrent;bittorrent;download;p2p;
Exec=retorrent %F
Icon=io.github.mlm_games.retorrent
Terminal=false
StartupNotify=true
StartupWMClass=retorrent
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
